@import "global.css";
body {
      min-width: 200px;
      min-height: 180px;
      background-color: var(--poprock-bg);
      color: var(--poprock-bg);
}

.box_8 {
      padding: 8px;
}

.box_4 {
      padding: 4px;
}